@using DataJuggler.Blazor.Components

<h3>@Title</h3>

<ValidationComponent Name="FirstNameControl" Parent="this" Caption="First Name:" ClassName="displayinlineblock"
    Column1Width="100" LabelClassName="down3 right2" Width="240"></ValidationComponent>
<ValidationComponent Name="LastNameControl" Parent="this" Caption="Last Name:" ClassName="displayinlineblock"
    Column1Width="100" LabelClassName="down3 right2" Width="240"></ValidationComponent>
<ValidationComponent Name="PhoneControl" Parent="this" Caption="Phone:" ClassName="displayinlineblock"
    Column1Width="100" LabelClassName="down3 right2"  Width="240"></ValidationComponent>
<ValidationComponent Name="EmailControl" Parent="this" Caption="Email:" Column1Width="100" 
    Column2Width="220" ClassName="displayinlineblock" LabelClassName="down3 right2" 
    TextBoxWidth="200" Width="360"></ValidationComponent>
<ValidationComponent Name="AddressControl" Parent="this" Caption="Address:" ClassName="displayinlineblock"
    Column1Width="100" Column2Width="220" LabelClassName="down3 right2" 
    TextBoxWidth="200" Width="360"></ValidationComponent>
<ValidationComponent Name="CityControl" Parent="this" Caption="City:" ClassName="displayinlineblock"
    Column1Width="100" Column2Width="220" LabelClassName="down3 right2" 
    TextBoxWidth="200" Width="360"></ValidationComponent>
<ValidationComponent Name="StateControl" Parent="this" Caption="State:" ClassName="displayinlineblock"
    Column1Width="100" Column2Width="220" LabelClassName="down3 right2" 
    TextBoxWidth="200" Width="360"></ValidationComponent>
<ValidationComponent Name="ZipControl" Parent="this" Caption="Zip:" ClassName="displayinlineblock"
    Column1Width="100" Column2Width="220" LabelClassName="down3 right2"
    TextBoxWidth="200" Width="360"></ValidationComponent>
<ValidationComponent Name="NotesControl" Caption="Notes:" ClassName="displayinlineblock"
    Multiline="true" Column1Width="100" Column2Width="220" LabelClassName="up88 right2"
    Height="96" TextBoxWidth="200" Width="360"></ValidationComponent>
<CalendarComponent Unit="px" HeightUnit="px" CalendarTop="-264" Parent="this"
    CalendarLeft="264" Width="224" Column2Width="128" Position="relative" Top="-56"
    TextBoxWidth="124" ButtonLeft="-26" ButtonTop="-.84" ButtonHeight="25">
</CalendarComponent>

<div class="buttoncontainer">
    <button class="bluebutton" @onclick=Save>Save</button>
    <button class="bluebutton" @onclick=Cancel>Cancel</button>
</div>