@using DataJuggler.Blazor.Components

<ValidationComponent Name="SecretControl" Parent="this" Caption="Session Id:" 
    ClassName="displayinlineblock right16percent" Enabled=false Left=200 Column2Width="300" TextBoxWidth=300
    SendAllTextToParent="true" Column1Width="100" LabelClassName="down3 right2" Width=480>
</ValidationComponent>

<div class="buttoncontainer">
    <button class="blackbutton" @onclick=BackToContactEditor>Back</button>    
</div>