@page "/"
@using DataJuggler.Blazor.Components
@using NTouch.Components
@using ObjectLibrary.Enumerations
@using System.Drawing

<PageTitle>Index</PageTitle>

<h1 class="right16percent">@Title</h1>

<div class="height24"></div>
<br />

@if ((ScreenType == ScreenTypeEnum.AddContact) || (ScreenType == ScreenTypeEnum.EditContact))
{
    <ContactEditor Parent="this"></ContactEditor>
}
else if (ScreenType == ScreenTypeEnum.ContactList)
{
    <button class="blackbutton2" @onclick=AddContact>Add Contact</button>
    <Grid Name="ContactsGrid" ClassName="grid5" Unit="px" Width="880"
        HeightUnit="px" Height=640 ShowHeader="false" HeaderText="Tests" Parent="this"
        Left="0" HeaderClassName="gridheader5" ShowColumnHeaders=true Top=24
        FontSize = "12" EnableClick=true ></Grid>
}

@* <button class="blackbutton2" @onclick=@ImportExcel>Import Excel</button> *@

<Label Name="StatusLabel" Parent="this"></Label>