@inherits LayoutComponentBase
@using NTouch.Pages

<PageTitle></PageTitle>

<div class="page">
    <div class="fixedsidebar">
        
    </div>

    <main>
        <article class="content px-4">
            <IndexPage Parent="this" ></IndexPage>
        </article>
    </main>
</div>
