@inherits LayoutComponentBase
@using NTouch.Pages

<PageTitle>NTouch</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            <IndexPage Parent="this" ></IndexPage>
        </article>
    </main>
</div>
